/* Make Admin Form CSS */

.makeAdminInput input{
    width: 70%!important;
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 16px!important;
    line-height: 19px!important;
    color: #C9C9C9!important;
    
}
.addServiceLabel{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
}